@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}

.title-wrapper {
    font-weight: 700;
}

// CARDS TEXT

.user-name {
    color: hsl(228, 34%, 66%);
    font-weight: 400;
}

