.theme-control-wrapper {
    display: flex;
    align-items: center;
    font-weight: 700;

    label {
        margin-right: 15px;
        color: $DesaturatedBlue;
    }

    .darkmode-btn {
        position: relative;
        width: 60px;
        height: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        background: hsl(230, 22%, 74%);
        border-radius: 20px;
        cursor: pointer;
        transition:all 0.1s ease !important;
        
        &:checked {
            transition:all 0.1s ease !important;
            background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

            &::before {
                left: 30px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0px;
            border-radius: 50%;
            background: $DarkBlue;
            transform: scale(0.8);
            box-shadow: inset 0px -4px 2px rgba($color: #fff, $alpha: .2);
        }
    }
}