body {
    background: $DarkBlue;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;

    .cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
}